[submodule "themes/cocoa-eh"]
	path = themes/cocoa-eh
	url = https://github.com/rimonmostafiz/cocoa-eh-hugo-theme
[submodule "themes/minimo"]
	path = themes/minimo
	url = https://github.com/MunifTanjim/minimo
