[submodule "themes/cocoa-eh"]
	path = themes/cocoa-eh
	url = https://github.com/mtn/cocoa-eh-hugo-theme.git
[submodule "themes/sustain"]
	path = themes/sustain
	url = https://github.com/nurlansu/hugo-sustain.git
